* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

/* Leturstærðir: 16 24 32 48 */

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: Lora, "Times New Roman", serif;
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: 1200px;
  margin: 80px auto;
}

.header__index {
  margin-bottom: 20px;
  font-family: "Roboto Mono", "Courier New", monospace;
  text-align: center;
  background: url("./img/header.jpg");
  background-position-y: -20px;
  background-size: cover;
}

.header__lect {
  margin-bottom: 20px;
  font-family: "Roboto Mono", "Courier New", monospace;
  text-align: center;
  background-position-y: -20px;
  background-size: cover;
}

.lect__item {
  margin: 40px 0;
}

.image {
  max-width: 100%;
}

.protection {
  position: relative;
  z-index: 1;
  min-width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

a { /* stylelint-disable-line */
  color: #000;
  text-decoration: none;
}

blockquote p { /* stylelint-disable-line */
  margin: 20px 0;
}

.header__header {
  margin-bottom: 20px;
  font-size: 3.75rem;
  font-weight: 700;
}

.header__content {
  padding: 40px;
}

.header__tag {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__tag {
  margin-bottom: 40px;
}

button { /* stylelint-disable-line */
  padding: 10px;
  margin: 0 20px;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 32px;
  font-weight: 600;
  background-color: #ccc;
  border: hidden;
  border-radius: 15px;
}

li { /* stylelint-disable-line */
  margin: 20px 0;
}

.quote {
  padding: 20px;
  margin-right: -20px;
  margin-left: -20px;
  background-color: #ccc;
}

.lect__heading {
  margin: 20px 0;
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 32px;
  font-weight: 600;
}

.lectures__title {
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 32px;
  font-weight: 600;
}

.lectures__tag {
  font-family: "Roboto Mono", "Courier New", monospace;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.green {
  background-color: #2d2;
}

.lect__text {
  font-family: Lora, "Times New Roman", serif;
  font-size: 16px;
}

/* grid fyrir efni */
.filters {
  margin-bottom: 20px;
}

.filters__row {
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  justify-content: center;
}

.filters__col {
  padding-right: 10px;
  padding-left: 10px;
}

.lectures {
  margin-bottom: 20px;
}

.lectures__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.lect__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.lectures__col {
  display: flex;
  flex-wrap: wrap;
  width: 33.33333333333%;
  padding: 0 10px;
}

.lect__col {
  display: flex;
  width: 66.666666666666667%;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0 auto;
}

.lect__content {
  position: relative;
}

.lectures__card {
  position: relative;
  display: flex;
  width: 100%;
  height: 350px;
  padding: 20px;
  margin: 20px 0;
  background-color: #ccc;
  border: 0;
  align-items: flex-end;
}

.m1 {
  background: url("./img/thumb1.jpg");
}

.m2 {
  background: url("./img/thumb2.jpg");
}

.m3 {
  background: url("./img/thumb3.jpg");
}

.m4 {
  background: url("./img/thumb4.jpg");
}

.m5 {
  background: url("./img/thumb5.jpg");
}

.m6 {
  background: url("./img/thumb6.jpg");
}

.m7 {
  background: url("./img/thumb7.jpg");
}

.m8 {
  background: url("./img/thumb8.jpg");
}

.m9 {
  background: url("./img/thumb9.jpg");
}

.m10 {
  background: url("./img/thumb10.jpg");
}

.lectures__text {
  position: absolute;
  top: 250px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
  background-color: #ccc;
}

.lectures__text--lg {
  top: 200px;
}

.hide {
  display: none;
}
